html,
body {
  padding: 0;
  margin: 0;
  font-family:   Roboto, Segoe UI, -apple-system, BlinkMacSystemFont, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  font-size: 64px;
  font-weight: 600;
  color: #202124;
}

h2{
  font-size: 40px;
  color: #0077CC;
}

p{
  font-family: Segoe UI;
  color: #2D3748;
  font-size: 14px;
  font-weight: 600;
}
